/* Reset global para márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    width: 100%;
    background-color: #05070d;
    font-family: 'yantramanav', sans-serif; /* Fuente global */
}

/* Fuentes personalizadas */
@font-face {
    font-family: "bebasNeue";
    src: url('../../assets/fonts/BebasNeue-Regular/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "poetsenOne";
    src: url('../../assets/fonts/Poetsen-One/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: "dancingScript";
    src: url('../../assets/fonts/Dancing-Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: "yantramanav";
    src: url('../../assets/fonts/Yantramanav/Yantramanav-Black.ttf');
}
/* ::::: MEDIA QUERIES ::::: */
@media (max-width: 768px) {
    #header {
        flex-direction: column; /* Cambio a columna en pantallas pequeñas */
        height: auto; /* El encabezado se ajusta automáticamente */
        padding: 10px 0; /* Ajustar el relleno */
    }

    #logo-header {
        width: 80px; /* Ajustamos el tamaño del logo en pantallas pequeñas */
        height: 80px;
    }

    #nombre-web, #app-admin {
        font-size: 32px; /* Reducimos el tamaño de la fuente */
        margin-right: 0; /* Eliminamos el margen para alinearlo mejor */
    }

    .hipervinc-header, .menu {
        margin-left: 0; /* Eliminamos márgenes laterales */
        width: 100%; /* Hacemos que ocupen todo el ancho disponible */
        margin-top: 10px; /* Espacio superior */
    }
}

@media (max-width: 425px) {
    #header {
        padding: 10px; /* Ajustamos el relleno para pantallas más pequeñas */
    }

    #nombre-web, #app-admin {
        font-size: 28px; /* Aumentamos el ajuste de la fuente */
    }

    .hipervinc-header, .menu {
        width: 90%; /* Los botones ocupan casi todo el ancho */
        font-size: 14px; /* Ajustamos el tamaño de la fuente */
    }
}
/* ::::: Encabezado ::::: */
#header {
    background-color: #0a1a2a; /* Mismo color de fondo */
    width: 100%;
    height: 25vh; /* Altura igual */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Asegura que los elementos estén distribuidos */
    padding: 0 20px; /* Ajuste de relleno para espaciar los elementos */
 }

#logo-header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px #52B5F2;
    margin-left: 10px;
    margin-right: 10px;
}

#nombre-web {
    font-family: "poetsenOne";
    color: #52B5F2;
    font-size: 40px;
    margin-right: 190px;
}

#app-admin {
    font-family: "dancingScript";
    color: #52B5F2;
    font-size: 60px;
    margin-right: 180px;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #52B5F2;
}
.hipervinc-header {
    text-decoration: none;
    border: 2px solid rgba(82, 181, 242, 0.45);
    text-align: center;
    width: 110px;
    height: 60px;
    background-color: rgba(146, 158, 170, 0.7);
    margin-left: 100px;
    padding: 10px;
    font-family: "poetsenOne";
    font-size: 16px;
    color: white;
    transition: color 0.3s;
}

.menu {
    text-decoration: none;
    border: 2px solid rgba(215, 102, 185, 0.45);
    text-align: center;
    width: 110px;
    height: 60px;
    background-color: rgba(146, 158, 170, 0.7);
    margin-left: 100px;
    padding: 10px;
    font-family: "poetsenOne";
    font-size: 16px;
    color: white;
    transition: color 0.3s;
}

/* ::::: Main ::::: */
.container {
    background: #05070d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    color: #52B5F2;
    font-family: "bebasNeue";
    font-size: 45px;
    margin-top: 50px;
}

#añadir {
    color: #52B5F2;
    font-family: "yantramanav";
    font-size: 18px;
    margin-right: 10px;
}

#cont-bt-registrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px; /* Ajustado para más espacio */
    margin-bottom: 20px; /* Espacio entre el botón y la tabla */
}

/* Botón Nuevo */
.nuevo {
    background-color: #4CAF50;
    color: white;
    padding: 0.5vw 3vh;
    border: none;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nuevo:hover {
    background-color: #45a049;
}

/* Tabla */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Centrar tabla */
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%; /* Hace que ocupe todo el contenedor */
    font-family: "yantramanav";
    font-size: 18px;
    background-color: #1a2a3a; /* Fondo oscuro para la tabla */
    border-radius: 10px;
    margin-top: 20px;
}

th, td {
    border: 0.1vw solid #dddddd;
    padding: 0.8vw;
    text-align: left;
    color: #dddddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #52B5F2;
    text-align: center;
}

td:hover {
    background-color: #f2f2f2;
    color: var(--color-turquesa);
}

/* Botones dentro de la tabla */
button {
    margin-right: 2vh;
    background-color: red;
    color: white;
    padding: 0.5vw 3vh;
    border: none;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

.boton {
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #ddeb18;
    color: white;
    padding: 0.5vw 3vh;
    border: none;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
}

img {
    width: 6vw;
    height: 10vh;
}
