<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
    <title>App Admin - Editar</title>
</head>
<body>
    <header></header>
    <main>
        <div id="cont-main">
            <div id="cont-formulario">
                <div id="titulo">
                    <h2>Datos Actuales:</h2>
                    <table>
                        <tr>
                            <td>ID: {{ usuario.id }}</td>
                            <td>Nombre: {{ usuario.nombre }}</td>
                            <td>Apellido: {{ usuario.apellido }}</td>
                            <td>Nombre de usuario: {{ usuario.nombre_usuario }}</td>
                            <td>Correo: {{ usuario.correo }}</td>
                            <td>Contraseña: {{ usuario.contrasena }}</td>
                            <td>Sexo: {{ usuario.sexo }}</td>
                            <td>País: {{ usuario.pais }}</td>
                            <td>Imagen de Usuario: <img src="{{ usuario.imagen }}" alt="imagenUsuario"></td>
                        </tr>
                    </table>
                </div>
                <h1>Actualizar Datos</h1>
                <form class="campos-form" action="{{ url_for('actualizar', id=usuario.id) }}" method="post">
                    <div>
                        <!-- Campo ID (oculto, no editable) -->
                        <input type="hidden" name="id" value="{{ usuario.id }}">
                    </div>
    
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input class="input-form" type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}">
                    </div>
    
                    <div class="entrada">
                        <label for="apellido">Apellido:</label>
                        <input class="input-form" type="text" name="apellido" id="apellido" value="{{ usuario.apellido }}">
                    </div>
    
                    <div class="entrada">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                        <input class="input-form" type="text" name="nombre_usuario" id="nombre_usuario" value="{{ usuario.nombre_usuario }}">
                    </div>
    
                    <div class="entrada">
                        <label for="correo">Correo electrónico:</label>
                        <input class="input-form" type="email" name="correo" id="correo" value="{{ usuario.correo }}">
                    </div>
    
                    <div class="entrada">
                        <label for="contraseña">Contraseña:</label>
                        <input class="input-form" type="password" name="contrasena" id="contrasena" value="{{ usuario.contrasena }}">

                    </div>
    
                    <div class="entrada">
                        <label for="sexo">Sexo:</label>
                        <input class="input-form" type="text" name="sexo" id="sexo" value="{{ usuario.sexo }}">
                    </div>
    
                    <div class="entrada">
                        <label for="pais">País:</label>
                        <input class="input-form" type="text" name="pais" id="pais" value="{{ usuario.pais }}">
                    </div>
    
                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input class="input-form" type="text" name="imagen" id="imagen" value="{{ usuario.imagen }}">
                    </div>
    
                    <div>
                        <label for="rol">Rol de usuario (Ingresar 1- USUARIO 2- ADMINISTRADOR):</label>
                        <input class="input-form" type="number" id="rol" name="rol">
                    </div>
    
                    <button class="modificar" type="submit">MODIFICAR</button>
                </form>
                <br>
            </div>
        </div>
       
    </main>
   

    <footer></footer>
    <script>
        const urls = {
            tabla_usuarios: "{{ url_for('tabla_usuarios') }}",
            ingresar_usuario: "{{ url_for('ingresar_usuario') }}",
        };
    </script>
    <script src="{{ url_for('static', filename='js/editar_usuario.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header_editar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datos_editar.js') }}"></script>
    